<div class="card2-content" >
    <div class="card2 pointer">
        <div class="d-flex" *ngIf="type === 'audio'">
            <div class="rel">
                <div class="audio-card-1">
                    <a class="float font-14 fw-600 theme-text-color-prim elps pointer" matTooltip="{{card.userId}}"
                    [matTooltipShowDelay]="500" [matTooltipPosition]="position.value"
                    [matTooltipHideDelay]="1000"> {{card.userId}}</a> 
                </div>
            </div>
            <div class="rel mar-left">
                <div class="audio-card-2">
                    <a class="float font-14 fw-600 theme-text-color-prim elps pointer" matTooltip="{{card.userId}}"
                    [matTooltipShowDelay]="500" [matTooltipPosition]="position.value"
                    [matTooltipHideDelay]="1000"> {{card.userId}}</a> 
                </div>
            </div>
        </div>
        <div class="rel">
            <div *ngIf="type === 'text'" class="text-card2">
                <a class="float font-14 fw-600 theme-text-color-prim elps pointer" matTooltip="{{card.userId}}"
                    [matTooltipShowDelay]="500" [matTooltipPosition]="position.value"
                    [matTooltipHideDelay]="1000"> {{card.userId}}</a>  
            </div>
        </div>
    </div>
</div>