<div *ngIf="played" class="fixed">
    <!-- cdkDrag cdkDragRootElement=".fixed" cdkDragHandle> -->
       <div [ngClass]="{'mb-12': !closed,'mb0':closed}" style="display: inline-block;"><mat-icon class="theme-text-color-prim right pointer mr-1" (click) = "onClickClosed()">{{chevron}}</mat-icon> </div>
       <div class="card-bg" style="display: inline-block;" [ngClass]="{'w-310': !closed,'w-54': closed}">
           <div>
               <div [ngClass]="{'p-13': !minimise, 'p-0': closed}">
                   <div *ngIf="!minimise && !closed"><p class="font-24 font-merri fw-600 color-accent grab" style="line-height: 1.2;">{{card.title}}</p></div>
                   <div *ngIf="!minimise && !closed" class="mb2">
                       <mat-chip-list aria-label="Fish selection">
                           <mat-chip [selectable]=false> <p class="mb0">Schizoaffective disorder</p> </mat-chip>
                           <mat-chip [selectable]=false><p class="mb0">broken promise</p></mat-chip>
                           <mat-chip [selectable]=false><p class="mb0">racism</p></mat-chip>
                           <mat-chip [selectable]=false><p class="mb0">psychosis</p></mat-chip>
                       </mat-chip-list>
                   </div>
               </div>
               <div class="d-flex justify-content-between">
                   <div *ngIf="!closed" [ngClass]="{'visible': !loading,'invisible': loading}" style="padding-left: 4px;  margin-top: 7px;">
                       <mat-icon class="color-accent right pointer" (click) = "onClickMinimise()">{{expandMore}}</mat-icon>
                   </div>
                   <div *ngIf="!closed" [ngClass]="{'visible': minimise,'invisible': !minimise}" class="pointer color-accent" (click) = "onClickMinimise()" style="width: 228px; margin-top: 10px;
                   margin-left: 9px;">
                    <p class="mb-2 title-elpis">{{card.title}}</p>
                </div>
                   <mat-icon *ngIf="!loading" class="font-24 pointer color-accent music-padd" (click)="onPlayStopPressed($event.target)">{{musicButton}}</mat-icon>
                   <!-- <p *ngIf = "wave" class="mb0 pr1 pt2 font-12 fw-600 theme-text-color-prim">
                       {{duration}}
                   </p> -->
               </div>
               <div *ngIf="loading">
                   <mat-progress-bar mode="buffer" class="buffer-position"></mat-progress-bar>
               </div>
           </div>
       </div>
   </div>
   