@mixin card-audio($theme, $text-theme) {
    $primary: map-get($theme, primary);
    $warn: map-get($theme, warn);
    $accent: map-get($theme, accent);
    $foreground: map-get($theme, foreground);

    $text-primary: map-get($text-theme, primary);
    $text-warn: map-get($text-theme, warn);
    $text-accent: map-get($text-theme, accent);
    $text-foreground: map-get($text-theme, foreground);

    $font-size: 14px;
    $line-height: 1.4;
    $card-lines-to-show: 5;
    $header-lines-to-show: 2;
    $chip-lines-to-show: 1;
@media only screen and (max-width: 500px) {
    /* For mobile phones: */
    .next{
        padding-top: 55px;
        cursor: pointer;
        display: inline;
    }
    .card-elpis{
        width: 100% !important;
    }
    .header-elpis{
        width: 100% !important;
    }
}    
@media only screen and (min-width: 500px) {
    .next{
        padding-top: 55px;
        cursor: pointer;
        display: none;
    }
    
}   
.text-content{
    padding-top:18px
}
.text-content:hover{
    padding-top:18px;
    .next{
        padding-top: 55px;
        cursor: pointer;
        display: inline;
    }
    .play-album{
        position: absolute;
        display: inline !important;
        bottom: 20px;
        right: 13px;
        font-size: 36px;
    }
    .card-elpis{
        width: 100%;;
    }
    .header-elpis{
        width: 100%;;
    }
}
.theme-text-color-prim{
    color: mat-color($text-primary, darker) !important;
}
.theme-text-color-sec{
    color: mat-color($text-accent, darker) !important;
}
.header-elpis{
    font-weight: 600;
    display: -webkit-box;
    width: 110%;
    text-align: initial;
    max-height: $font-size*$line-height*$header-lines-to-show;
    font-size: $font-size;
    line-height: $line-height;
    margin: 0;
    -webkit-line-clamp: $header-lines-to-show;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.play{
    position: absolute;
    bottom: 20px;
    right: 13px;
    font-size: 36px;
}
.play-album{
    position: absolute;
    display: none;
    bottom: 20px;
    right: 13px;
    font-size: 36px;
}
.user-d{
    position: absolute;
    font-size: 9px;
    top: 3px;
    left: 25px;
    text-align: center;
    font-weight: 400;
}
.card-elpis{
    margin: 0;
    display: -webkit-box;
    width: 110%;
    text-align: initial;
    max-height: $font-size*$line-height*$card-lines-to-show;
    font-size: $font-size;
    line-height: $line-height;
    -webkit-line-clamp: $card-lines-to-show;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}  
.chip-elpis{
    margin: 0;
    display: -webkit-box;
    max-width: 100px;
    text-align: initial;
    max-height: 12*$line-height*$chip-lines-to-show;
    font-size: 12px;
    line-height: $line-height;
    -webkit-line-clamp: $chip-lines-to-show;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}  
.back-color{
    border-radius: 25px;
    background: #f47037b5;
}
.mat-standard-chip {
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    padding: 4px 7px;
    border-radius: 16px;
    align-items: center;
    cursor: default;
    min-height: 20px;
    height: 1px;
  }
  .mat-chip-list-wrapper input.mat-input-element, .mat-chip-list-wrapper .mat-standard-chip {
    margin: 2.5px;
}
}