<div *ngIf="show">
    
<button *ngIf="!started; else graph">Start AudioContext</button>

<ng-template #graph>
    <section>
        <ng-container [ngSwitch]="selectedSource">
            <ng-container *ngSwitchCase="'buffer'">
                <p class="float center font-12 theme-text-color-sec" style="padding-top: 50px; text-align: center; padding-left: 27px;">click play icon</p>
                <mat-icon
                    class="right mt1 mr1 theme-text-color-prim"
                    *ngFor="let _ of buffers"
                    #source="AudioNode"
                    waAudioBufferSourceNode
                    buffer="assets/mp3/sample.mp3"
                    [loop]="true"
                    (click)="onClick(source, $event.target)">play_arrow<ng-container
                        waAnalyserNode
                        (timeByte$)="onTimeDomain($event, canvas)">
                        <ng-container [waOutput]="chain || fallback"></ng-container>
                    </ng-container>
                </mat-icon>
            </ng-container>
            <audio
                *ngSwitchCase="'media'"
                waMediaElementAudioSourceNode
                src="assets/mp3/sample.mp3"
                loop
                controls>
                <ng-container waAnalyserNode (timeByte$)="onTimeDomain($event, canvas)">
                    <ng-container [waOutput]="chain || fallback"></ng-container>
                </ng-container>
            </audio>
            
        </ng-container>

        <p>
            <canvas #fallback="AudioNode" #canvas waAudioDestinationNode height="120"></canvas>
        </p>
    </section>

</ng-template>
</div>
<div *ngIf="!show">
    <div class="d-flex text-content">
        <div>
            <p class="header-elpis theme-text-color-prim" >Don't judge me for my actions blah blah</p>
            <p class="card-elpis font-merri theme-text-color-sec" >Something that I had never felt before in my life. I had never felt so lost in my mind. It was amazing. I was hooked. I loved it.</p>
        </div>
        <mat-icon class="next theme-text-color-prim" (click) = "showPlay()">navigate_next</mat-icon>
    </div>  
</div>