<div *ngIf="show">
    
<button *ngIf="!started; else graph">Start AudioContext</button>

<ng-template #graph>
    <section>
        <ng-container [ngSwitch]="selectedSource">
            <ng-container *ngSwitchCase="'buffer'">
                <p class="center font-12 theme-text-color-sec user-d" > *user discretion is advised</p>
                <mat-icon
                    class="play mt1 mr1 theme-text-color-prim"
                    *ngFor="let _ of buffers"
                    #source="AudioNode"
                    waAudioBufferSourceNode
                    buffer="assets/mp3/sample.mp3"
                    [loop]="true"
                    (click)="onClick(source, $event.target)">not_started<ng-container
                        waAnalyserNode
                        (timeByte$)="onTimeDomain($event, canvas)">
                        <ng-container [waOutput]="chain || fallback"></ng-container>
                    </ng-container>
                </mat-icon>
            </ng-container>
        </ng-container>
            <canvas #fallback="AudioNode" #canvas waAudioDestinationNode height="120" width="{{pulseWidth}}" class="left pt-24" (click) = "onClickAudioCard1()"></canvas>
    </section>
</ng-template>
</div>
<div *ngIf="!show">
    <div class="d-flex text-content" style="padding-left: 24px;">
        <div style="width: 80%; height: 100%;" (click) = "onClickAudioCard1()">
            <p class="header-elpis theme-text-color-prim" >{{card.title}}</p>
            <!-- <p class="card-elpis font-merri theme-text-color-sec" >{{card.desc}}</p> -->
            <div class="left" style="height: 100px; padding-top: 5px;">
                <mat-chip-list aria-label="Fish selection">
                    <mat-chip> <p class="chip-elpis">Schizoaffective disorder</p> </mat-chip>
                    <mat-chip><p class="chip-elpis">broken promise</p></mat-chip>
                    <mat-chip><p class="chip-elpis">racism</p></mat-chip>
                    <mat-chip><p class="chip-elpis">psychosis</p></mat-chip>
                </mat-chip-list>
            </div>
        </div>
        <mat-icon class="next theme-text-color-prim" (click) = "showPlay()">navigate_next</mat-icon>
    </div>  
</div>