<!-- <div class="cards"> 

    <app-card class="card" *ngFor = "let card of cards" [type]="card.type"></app-card>
</div> -->
<!-- <mat-grid-list >
    <app-card *ngFor = "let card of cards" [type]="card.type"></app-card>
 </mat-grid-list> -->

<!-- <ngx-masonry>
    <div ngxMasonryItem class="masonry-item" *ngFor="let card of cards">
     {{card.type}}
   </div>
  </ngx-masonry> -->
  
<div class="main">
    <ngx-masonry class="ngx-masonry" [options]="myOptions"> 
        <app-card ngxMasonryItem class="masonry-item" 
        *ngFor = "let card of cards" [type]="card.type" [card]="card">
        </app-card>
    </ngx-masonry>
</div>