@import "scss/margin.scss";
@import "scss/global.scss";
@import "scss/colours.scss";
@import "scss/fonts.scss";
@import "scss/custom-light-theme.scss";
@import '~@angular/material/theming';
@include mat-core();

@import "app/app.component";
@import "app/nav-bar/nav-bar.component";
@import "app/card/card.component";
@import "scss/custom-dark-theme.scss";
@import "app/card-audio/card-audio.component";
@import "app/audio-card-modal/audio-card-modal.component";
@import "app/audio-float-info/audio-float-info.component";
@import "app/audio-card/audio-card.component";
@mixin custom-components-theme($theme,$text-theme) {
  @include app-theme($theme, $text-theme);
  @include nav-theme($theme, $text-theme);
  @include card-theme($theme, $text-theme);
  @include card-audio($theme, $text-theme);
  @include card-audio-modal-theme($theme, $text-theme);
  @include audio-card-theme($theme, $text-theme);
  @include audio-float-theme($theme, $text-theme);
}

.light-theme {
  @include angular-material-theme($custom-light-theme);
  @include custom-components-theme($custom-light-theme,$custom-text-light-theme);
}

.dark-theme {
  @include angular-material-theme($custom-dark-theme);
  @include custom-components-theme($custom-dark-theme,$custom-text-dark-theme);
}

body {
  margin: 0;
  padding: 0;
}
.dark-theme .mat-dialog-container {
  box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
  background: #26272b;
  color: rgba(0, 0, 0, 0.87);
  border-radius: 25px;
}
.light-theme .mat-dialog-container {
  box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
  background: #e0d9d2;
  color: rgba(0, 0, 0, 0.87);
  border-radius: 25px;
}
.mat-chip {
  font-size: 11px;
  font-weight: 500;
}
.light-theme .mat-chip.mat-standard-chip {
  background-color: #706d69;
  color: #e0d9d2;
}
.dark-theme .mat-chip.mat-standard-chip {
  background-color: #b8b8b9;
  color: #0b0b0b;
}
.light-theme .mat-progress-bar-background {
  fill: #f47037 !important;
}
.dark-theme .mat-progress-bar-background {
  fill: #f47037 !important;
}
.cdk-overlay-dark-backdrop {
  background: #000000ad;
}
.light-theme .mat-slide-toggle-bar {
  background-color: rgb(112 109 104);
}