.font-14{
  font-size: 14px;
}
.font-9{
  font-size: 9px;
}
.font-36{
  font-size: 36px;
}
.fw-600{
  font-weight: 600;
}
.font-merri{
  font-family: 'Merriweather', serif;
}
.font-mont{
  font-family: 'Montserrat', sans-serif;
}
.opacity-90{
  opacity: 0.9;
}
.font-12{
  font-size: 12px;
}